<div class="row mt-5" style="text-align: center">
  <h1><b>Carrello</b></h1>
</div>

<div class="row mt-4" style="text-align: center">
  <h5>Rivedi il tuo ordine</h5>
</div>

<div class="row mt-5">


  <div class="col-md-9">
    <div class="card">
      <div class="row align-items-center" style="height:2rem">
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <label><b>Articolo</b></label>
        </div>
        <div class="col-md-3">
          <label><b>Q.ta</b></label>
        </div>
        <div class="col-md-3">
          <label><b>Prezzo</b></label>
        </div>
        <div class="col-md-1"></div>
      </div>
      <hr />
      <div class="row align-items-center" style="height:3rem">
        <div class="col-md-2">
          <img src="assets/carbonara-image.png" class="menu-image" />
        </div>
        <div class="col-md-3">
          <label><b>Pasta alla Carbonara</b></label>
        </div>
        <div class="col-md-3">
          <label><b>2</b></label>
        </div>

        <div class="col-md-3">
          <label><b>18,00€</b></label>
        </div>
        <div class="col-md-1">
          <img class="trash-icon-size" src="assets/trash-icon.png">

        </div>
      </div>

      <hr />
      <div class="row align-items-center" style="height:3rem">
        <div class="col-md-2">
          <img src="assets/spaghetti-pomodoro.png" class="menu-image" />
        </div>
        <div class="col-md-3">
          <label><b>Pasta al Pomodoro</b></label>
        </div>
        <div class="col-md-3">
          <label><b>1</b></label>
        </div>

        <div class="col-md-3">
          <label><b>5,00€</b></label>
        </div>
        <div class="col-md-1">
          <img class="trash-icon-size" src="assets/trash-icon.png">

        </div>
      </div>
    </div>
  </div>



    <div class="col-md-3">
      <div class="card">
        <div class="row">
          <h4>Riepilogo</h4>
        </div>

        <div class="row mt-4">
          <div class="col-md-8">
            <label>Pasta alla Carbonara</label>
          </div>


          <div class="col-md-4" >
            <div style="float: right;">
            <label>18,00€</label>
          </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-8">
            <label>Pasta al Pomodoro</label>
          </div>


          <div class="col-md-4" >
            <div style="float: right;">
            <label>5,00€</label>
          </div>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-md-8">
            <label><b>Totale</b></label>
          </div>


          <div class="col-md-4" >
            <div style="float: right;">
            <label><b>23,00€</b></label>
          </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row mt-5" style="text-align: right">

      <div class="col-md-12">
        <button routerLink="/checkout" class="button-style">
          <span style="font-size: 13px" class="text-light">VAI AL PAGAMENTO</span>
        </button>
      </div>
    </div>

</div>
