<div class="center d-lg-inline d-none">
  <div class="row" style="text-align: center">
    <h1><b>Prenota il tuo menù</b></h1>
  </div>

  <div class="row mt-3" style="text-align: center">
    <label>Errore</label>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div>
            <img
              class="exclamation-mark"
              src="assets/exclamation-mark-icon.png"
              style="margin-right: 1.5rem"
            />
            <span><b>L'ombrellone selezionato non è disponibile</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3" style="text-align: center">
    <label
      routerLink="/umbrellacheck"
      type="button"
      style="text-decoration: underline"
      ><b>Torna indietro</b></label
    >
  </div>
</div>


<!-- content mobile -->


<div class="d-lg-none d-inline ">
  <div class="row mt-5" style="text-align: center">
    <h1><b>Prenota il tuo menù</b></h1>
  </div>

  <div class="row mt-3" style="text-align: center">
    <label>Errore</label>
  </div>

  <div class="row mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-12">
      <div class="card">
        <div class="row"  style="text-align: center">
          <div>
            <img
              class="exclamation-mark"
              src="assets/exclamation-mark-icon.png"
              style="margin-right: 1.5rem"
            />
            <span><b>L'ombrellone selezionato non è disponibile</b></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>

  </div>

  <div class="row mt-3" style="text-align: center">
    <label
      routerLink="/umbrellacheck"
      type="button"
      style="text-decoration: underline"
      ><b>Torna indietro</b></label
    >
  </div>
</div>
