<!-- Image and text -->
<nav class="navbar p-2 navbar-dark" style="height: 3.5rem;">
  <div class="ms-xs-5 ms-sm-3 ms-md-4 ms-lg-5">
    <a *ngIf="this.pageTitle != 'Scegli cosa prenotare'" class="navbar-brand">
      <img

        src="/assets/back-icon.png"
        width="30"
        height="30"
        class="d-inline-block"
        (click)="back()"
        type="button"

      />
    </a>
    <label class="text-light d-sm-inline d-none">{{this.pageTitle}}</label>
  </div>



    <form *ngIf="this.pageTitle == 'Scegli il tuo ombrellone'" class="d-md-inline d-none">
      <div class="font-family">
          <input
            class="form-control text-light"
            placeholder="Scegli una data"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            #d="ngbDatepicker"
            (click)="d.toggle()"
          />
      </div>
    </form>





  <div *ngIf="showCart" class="row" style="margin-right: 0.1rem">
    <div class="col-md-4 col-lg-2 col-6"></div>
    <div class="col-md-2 col-lg-2 col-2" style="padding-right: 1.5rem">
      <a class="navbar-brand">
        <img

          style="cursor: pointer;"
          routerLink="/cart"
          src="/assets/cart-white-icon.png"
          width="30"
          height="30"
        />
      </a>
    </div>

    <div  class="col-md-3 col-lg-5 col-3">
      <div style="height: 10px">
        <label style="font-size: 12px" class="text-light">Totale</label>
      </div>
      <div>
        <label style="font-size: 10px" class="text-light">{{formatPrice(totale)}}</label>
      </div>
    </div>
  </div>
</nav>

