<!-- Image and text -->
<nav class="navbar p-2 navbar-dark" style="height: 3.5rem;">
  <div class="ms-xs-5 ms-sm-3 ms-md-4 ms-lg-5">
    <a class="navbar-brand">
      <img

        *ngIf="this.pageTitle != 'Scegli cosa prenotare'"
        src="/assets/back-white-icon.png"
        width="30"
        height="30"
        class="d-inline-block"
        (click)="back()"
        type="button"

      />
    </a>
    <span class="text-light d-md-inline d-none" style="margin-left: 1rem">{{this.pageTitle}}</span>
  </div>

  <div class="row" style="margin-right: 0.1rem">
    <div class="col-md-4 col-lg-2 col-6"></div>
    <div class="col-md-2 col-lg-2 col-2" style="padding-right: 1.5rem">
      <a class="navbar-brand">
        <img

          style="cursor: pointer;"
          routerLink="/cart"
          src="/assets/cart-white-icon.png"
          width="30"
          height="30"
        />
      </a>
    </div>

    <div class="col-md-3 col-lg-5 col-3">
      <div style="height: 10px">
        <label style="font-size: 12px" class="text-light">Totale</label>
      </div>
      <div>
        <label style="font-size: 10px" class="text-light">23,00€</label>
      </div>
    </div>
  </div>
</nav>

