<div class="modal-margin">


  <div style="text-align: center">
    <img class="umbrella-info-image" src="assets/umbrella-image.jpeg" />
  </div>




  <div style="margin-left: 4.5rem" class="mt-5">
    <h5><b>Info:</b></h5>
  </div>
  <div style="margin-left: 4.5rem" class="mt-2">
    <span>Ombrellone A23</span>
  </div>

  <div style="margin-left: 4.5rem" class="mt-5">
    <h5><b>Descrizione:</b></h5>
  </div>
  <div style="margin-left: 4.5rem" class="mt-2">
    <span>In questo ombrellone sono previste 2 sedute</span>
  </div>

  <div style="margin-left: 4.5rem" class="mt-5">
    <h5><b>Aggiungi:</b></h5>
  </div>
  <div style="margin-left: 3.7rem" class="row mt-2">
    <div class="col-lg-7">
      <span>Lettino</span>
    </div>
    <div class="col-lg-5">
      <div ngbDropdown>
        <button type="button" class=" dp-style text-light" ngbDropdownToggle>
          Q.tà: {{chooseLettini}}
        </button>
        <div ngbDropdownMenu>
          <div *ngFor="let c of dpNumber; index as i">
            <button ngbDropdownItem class="dropdown-background" (click)="changeLettini(c)">
              {{ c }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-left: 3.7rem" class="row mt-2">
    <div class="col-lg-7">
      <span>Sdraio</span>
    </div>
    <div class="col-lg-5" >
      <div ngbDropdown>
        <button type="button" class=" dp-style text-light" ngbDropdownToggle>
          Q.tà: {{chooseSdraio}}
        </button>
        <div ngbDropdownMenu>
          <div *ngFor="let c of dpNumber; index as i">
            <button ngbDropdownItem class="dropdown-background"  (click)="changeSdraio(c)">
              {{c}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center" class="mt-4">
    <span type="button" style="text-decoration: underline"
      ><b>AGGIUNGI AL CARRELLO</b></span
    >
  </div>

  <div style="text-align: center" class="mt-3">
    <button routerLink="/checkout" class="button-style">
      <span style="font-size: 13px" class="text-light">VAI AL PAGAMENTO</span>
    </button>
  </div>
</div>
