.modal-margin{
  margin-top: 2rem;
  margin-bottom: 2rem;
}



.dp-style{
  background-color: var( --blue-light);
  border-radius: 0.4rem;
  border-width: 0;
  transition: 0.3s;

}

.dp-style:hover{
  background-color: var( --blue-dark);

}



.dropdown-background:active{
  background-color:var( --blue-dark);
}


.dropdown-background:hover{
  background-color:var( --blue-dark);
  color: white;
}


