
  <div class="row mt-5" style="text-align: center;">
    <h1><b>Prenota il tuo ombrellone</b></h1>
   </div>


   <div class="row mt-3" style="text-align: center;">
     <h5>Seleziona una data</h5>
    </div>


    <!-- <div class="row mt-3" style="text-align: center;">
      <form class="row row-cols-sm-auto">
        <div class="col-12">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              [(ngModel)]="model"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </form>
    </div> -->


    <div class="row mt-3" style="text-align: center;">
     <label type="button" style="text-decoration: underline;">Prenota per più giorni</label>
    </div>



    <div class="row mt-3" style="text-align: center;">
      <div class="col-md-12">
        <button  class=" button-style">
          <span style="font-size: 13px;" class="text-light button-label">PRENOTA</span>
        </button>
      </div>
   </div>




