
 <div class="center">
  <div class="row" style="text-align: center;">
    <h1><b>Prenota il tuo ombrellone</b></h1>
   </div>


   <div class="row mt-3" style="text-align: center;">
     <h5>Seleziona una data</h5>
    </div>

    <div *ngIf="!dateRange" class="row mt-3">
      <form class="container ">
        <div class="col-md-6">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              [(ngModel)]="model"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <button class="btn bi bi-calendar3 date-picker-color text-light" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </form>
    </div>



    <form *ngIf="dateRange" class="row mt-3" style="margin-right: 0.1rem;margin-left: 0.1rem;">
      <div class="container">

      <div class="col-md-6 col-12" style="padding-right: 1rem;">
        <div class="dp-hidden position-absolute">
          <div class="input-group">
            <input
              name="datepicker"
              class="form-control"
              ngbDatepicker
              #datepicker="ngbDatepicker"
              [autoClose]="'outside'"
              (dateSelect)="onDateSelection($event)"
              [displayMonths]="2"
              [dayTemplate]="t"
              outsideDays="hidden"
              [startDate]="fromDate!"
              tabindex="-1"
            />
            <ng-template #t let-date let-focused="focused">
              <span
                class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              >
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
        <div class="input-group">
          <input
            #dpFromDate
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dpFromDate"
            [value]="formatter.format(fromDate)"
            (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
          />
          <button class="btn bi bi-calendar3 date-picker-color text-light" style="padding-right: 1rem;" (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="input-group">
          <input
            #dpToDate
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dpToDate"
            [value]="formatter.format(toDate)"
            (input)="toDate = validateInput(toDate, dpToDate.value)"
          />
          <button class="btn bi bi-calendar3 date-picker-color text-light" (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
      </div>
    </form>





    <div *ngIf="!dateRange" class="row mt-3" style="text-align: center;">
     <label (click)="dateRange = !dateRange" type="button" style="text-decoration: underline;">Prenota per più giorni</label>
    </div>

    <div *ngIf="dateRange" class="row mt-3" style="text-align: center;">
      <label (click)="dateRange = !dateRange" type="button" style="text-decoration: underline;">Prenota per un giorno</label>
     </div>



    <div class="row mt-5" style="text-align: center;">
      <div class="col-md-12">
        <button routerLink="/umbrellachoose" class=" button-style">
          <span style="font-size: 13px;" class="text-light">PRENOTA</span>
        </button>
      </div>
   </div>
 </div>








