<div class="row mt-5" style="text-align: center">
  <h1><b>Prenota il tuo menù</b></h1>
</div>

<div class="row mt-4" style="text-align: center">
  <h5>Scegli cosa consumare</h5>
</div>

<div class="row mt-4">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span><b>Primi</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngFor="let val of inputs; index as i">
            <div class="row">
              <div class="col-md-1">
                <img src="assets/carbonara-image.png" class="menu-image" />
              </div>
              <div class="col-md-8" style="padding-left: 2rem">
                <div>
                  <span><b>Pasta alla Carbonara - 9,00€</b></span>
                </div>
                <div>
                  <span style="font-size: 13px"
                    >Tuorli, guanciale, pecorino, pepe</span
                  >
                </div>
              </div>
              <div class="col-md-3 button-align">
                <div style="width: 7.2rem; float: right;">
                  <div class="col-md-12">
                    <div class="input-group">
                      <button
                        class="choice-button text-light"
                        type="button"
                        (click)="remove(i)"
                      >
                        -
                      </button>

                      <input
                        type="number"
                        class="form-control shadow-none"
                        [ngModel]="val"

                      />

                      <button
                        class="choice-button text-light"
                        type="button"
                        (click)="add(i)"
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row mt-4">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span><b>Primi</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngFor="let val of inputs; index as i">
            <div class="row">
              <div class="col-md-1">
                <img src="assets/carbonara-image.png" class="menu-image" />
              </div>
              <div class="col-md-8" style="padding-left: 2rem">
                <div>
                  <span><b>Pasta alla Carbonara - 9,00€</b></span>
                </div>
                <div>
                  <span style="font-size: 13px"
                    >Tuorli, guanciale, pecorino, pepe</span
                  >
                </div>
              </div>
              <div class="col-md-3"style="margin-top: 0.4rem; width: 8.8rem">
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group">
                      <button
                        class="choice-button text-light"
                        type="button"
                        (click)="remove(i)"
                      >
                        -
                      </button>

                      <input
                        type="number"
                        class="form-control shadow-none"
                        [ngModel]="val"

                      />

                      <button
                        class="choice-button text-light"
                        type="button"
                        (click)="add(i)"
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row mt-4">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span><b>Primi</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngFor="let val of inputs; index as i">
            <div class="row">
              <div class="col-md-1">
                <img src="assets/carbonara-image.png" class="menu-image" />
              </div>
              <div class="col-md-8" style="padding-left: 2rem">
                <div>
                  <span><b>Pasta alla Carbonara - 9,00€</b></span>
                </div>
                <div>
                  <span style="font-size: 13px"
                    >Tuorli, guanciale, pecorino, pepe</span
                  >
                </div>
              </div>
              <div class="col-md-3"style="margin-top: 0.4rem; width: 8.8rem">
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group">
                      <button
                        class="choice-button text-light"
                        type="button"
                        (click)="remove(i)"
                      >
                        -
                      </button>

                      <input
                        type="number"
                        class="form-control shadow-none"
                        [ngModel]="val"

                      />

                      <button
                        class="choice-button text-light"
                        type="button"
                        (click)="add(i)"
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-md-2"></div>
</div>



<div class="row mt-5" style="text-align: right">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <button routerLink="/cart" class="button-style">
      <span style="font-size: 13px" class="text-light">PROCEDI</span>
    </button>
  </div>
  <div class="col-md-2"></div>

</div>
