

.choice-icon{
  width: 10px;
  height: 10px;
}




.choice-button{
  padding-left:1rem;
  padding-right: 1rem;
  border-width: 0;
  background-color: #416b89;
  border-radius: 0.5rem;
}


.choice-button:active{
  background-color:#10334d;
}

.choice-button:hover{
  background-color:#10334d;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.button-align{
  margin-top: 0.4rem;
}
