

.choice-icon{
  width: 10px;
  height: 10px;
}




.choice-button{
  padding-left:1rem;
  padding-right: 1rem;
  border-width: 0;
  background-color: #416b89;
  border-radius: 0.5rem;
}


.choice-button:active{
  background-color:#10334d;
}

.choice-button:hover{
  background-color:#10334d;

}



.button-align{
  margin-top: 0.4rem;

}
