
.choice-icon{
  width: 10px;
  height: 10px;
}

::ng-deep .accordion-button:focus { box-shadow: none;}
::ng-deep .accordion-button:not(.collapsed) { background-color: var(--blue-dark);color: white; }


::ng-deep .accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}


::ng-deep .accordion-item {
  margin-bottom: 2rem;
  border-radius: 0.4rem;
}


